<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title>Spring Boot WebSocket</title>
       
      <!-- https://cdnjs.com/libraries/sockjs-client -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
      <!-- https://cdnjs.com/libraries/stomp.js/ -->
      <script  src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="simple.js"></script>
   </head>
   <body>
      <button type="submit" id="newGame" onclick="newGame()">NewGame</button>   
      
      <input type="text" id="name">
      <input type="text" id="breed">
      <button id="messageForm" type="submit" onclick="sendMessage()">Send</button>

      <input type="text" id="territory">
      <button onclick="pickTerritory()">pickTerritory</button>
      <div id="content"></div>
   </body>
</html>